*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
ul{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 50px;
}
li{
    list-style: none;
    font-size: large;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 60px;
    height: 500px;
    width: 600px;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}