  body{
            margin: 0;
            padding: 0;
            font-family: "Roboto", sans-serif;
            background-color: black;
            color: white;
        }

      /* Header */

        header{
            display: flex;
            height: 9vh;
            background-color: red;
            align-items: center;
            border-bottom: 1px solid #8aa244;
            position: sticky;
            z-index: 100;
            top: 0;
        }
        .text{
             font-family: "Inter", sans-serif;
            padding-left: 1.5%;
            padding-right: 1%;
            color: rgb(255, 255, 255);
            text-shadow:  1px 2px 2px black;

        }
        ul{
            list-style: none;
            display: flex;
            gap: 80px;
            width: 80vw;
            justify-content: end;
        }
        li a{
            text-decoration: none;
           font-weight: bolder;
            font-size: large;
            padding: 8px 14px;
           color: white;
            transition-property: all;
            transition-timing-function: ease-in 0.3s;
            

        }
        li a:hover{
            font-size: larger;
            text-shadow: 0 3px 2px black;
        }

        /* Main */

        main{
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 100px;
            justify-content: center;
            align-items: center;
        }
        .container{
            
            color: black;
            width: 35%;
            height: 200px ;
            background-color: white;
            box-shadow: 0 0 50px red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .container a button{
            font-weight: bold;
            font-size: large;
            padding: 10px 40px ;
            background-color: red;
            color: white;
        }