<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB</title>
    <link rel="stylesheet" href="addedHome.css">
</head>
<body>
    <header>
        <h1 class="text">AirBnB</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add-home">Add Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h3>
                Your House Has Been Registered Successfully
            </h3>
            <p>home has been added to our lisiting</p>
            <a href="/"><button>Return To Home</button></a>
        </div>
    </main>
</body>
</html>