<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB</title>
    <link rel="stylesheet" href="addHome.css">
</head>
<body>
    <header>
        <h1 class="text">AirBnB</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add-home">Add Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="Fill">
            Fill Your Preference
        </h1>
        <div class="Form">
            <form action="/addedHome" method="post">
                <input type="text" placeholder="Enter your House" name="homeName">
                <input type="text" placeholder="Price per Night" name="pricePerNight">
                <input type="text" placeholder="Location" name="Location">
                <input type="text" placeholder="Rating " name="rating">
                <input type="text" placeholder="Enter Photo URL" name="photourl">
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>