<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBNB</title>
      <link href="./output.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <ul class="bg-red-600 flex h-15 items-center">
                <li class="ml-40 text-white font-bold text-lg"><a href="/">Go To Home</a></li>
                <li class="ml-40 text-white font-bold text-lg" ><a href="/add-home">Add Home</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex items-center justify-center">
        <div class=" w-160 h-90 flex justify-center items-center mt-28 rounded-2xl shadow-black shadow-lg  ">
            <h1 class="font-extrabold text-4xl">
                Welcome to AirBNB
            </h1>
            <ul>

               <% registeredHome.forEach((item)=>{%>
                  <li><%=  item.housename  %></li>            
               <% })%>
                <li></li>
            </ul>
        </div>
    </main>
</body>
</html>