*{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 50px;
}
li{
    list-style: none;
    font-size: large;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    margin-top: 140px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
p{
    font-size: xx-large;
    font-weight: bolder;
}
input{
    padding: 20px;
    width: 500px;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    
}
button{
    padding: 10px;
    width: 150px;
    background-color: aqua;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    border: none;
}